{% extends 'base.html' %}
{% block main %}
<div class="product-list">
    <h2>Products</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <th>Code</th>
                <th>Description</th>
                <th>Price</th>
                <th>Available</th>
                <th>Quantity</th>
            </tr>
            {% for product in products %}
            <tr>
                <td>{{ product.code }}</td>
                <td>{{ product.description }}</td>
                <td>${{ product.price }}</td>
                <td>{{ 'Yes' if product.availability else 'No' }}</td>
                <td>
                    {% if product.availability %}
                    <select name="quantity_{{ product.code }}">
                        <option value="0">0</option> <!-- Add option for 0 quantity -->
                        {% for i in range(1, 11) %}
                        <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                    {% else %}
                    <select name="quantity_{{ product.code }}" disabled>
                        <option value="0">0</option>
                    </select>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>

        {{ form.hidden_tag() }}
            {% if not customer_exists %}
            <div>
                <label for="address">Address:</label>
                {{ form.address }}
            </div>
            <div>
                <label for="phone">Phone:</label>
                {{ form.phone }}
            </div>
            <div>
                <label for="credit_card_number">Credit Card Number:</label>
                {{ form.credit_card_number }}
            </div>
            <div>
                <label for="credit_card_exp_date">Credit Card Expiry Date:</label>
                {{ form.credit_card_exp_date }}
            </div>
            <div>
                <label for="credit_card_code">Credit Card Security Code:</label>
                {{ form.credit_card_code }}
            </div>
            {% endif %}

        <p><input type="submit" value="Create Order"></p>
    </form>
</div>
{% endblock %}
